<p-tabView>
  <p-tabPanel header="NEW TO RATEPROF?">
    <app-registration></app-registration>

  </p-tabPanel>

  <p-tabPanel header="ALREADY REGISTERED?" [selected]="true">
    <h2 class="header">Sign in with email</h2>
    <div class="content">
      <div class="ui-g ui-fluid">
        <div class="ui-g">
          <div class="ui-g-12">
            <div class="ui-inputgroup">
              <span class="ui-float-label"><input id="float-input" type="text" pInputText [(ngModel)]="username"
                  pTooltip="Enter your account username">
                <label for="float-input">Username*</label>
              </span>
            </div>
          </div>
          <div class="ui-g-12 ">
            <div class="ui-inputgroup">
              <span class="ui-float-label"><input id="float-input" type="password" pPassword [(ngModel)]="password"
                  [feedback]=false pTooltip="Enter your account password">
                <label for="float-input">Password*</label>
              </span>
            </div>
          </div>
          <button pButton type="button" label="Login" (click)="onSubmit(username,password)"
            icon='pi pi-angle-double-right' class="ui-button-raised ui-button-success"></button>
        </div>
        <a [routerLink]="['/home']"><b>Forgot password?</b></a>
      </div>
    </div>
  </p-tabPanel>
</p-tabView>