<mat-toolbar color="primary">
    <span>ProfRate - Rate your professors</span>
    <span class="example-spacer"></span>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Name of Professor or Subject</mat-label>
        <input type="tel" matInput placeholder="John Johanson">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </form>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
</mat-toolbar>
