<p-messages [showTransitionOptions]="'1000ms'" [value]="msgs"></p-messages>
<h1 style="text-align: center;">Subjects</h1>
<p-dataView #dv [value]="subjects" [paginator]="true" [rows]="10" paginatorPosition="both" filterBy="name">
    <p-header>
        <div class="ui-helper-clearfix">
            <div class="ui-g">
                <div class="ui-g-12 ui-md-4">
                    <p-dropdown [options]="sortOptions" placeholder="Sort By" [style]="{'min-width':'140px'}">
                    </p-dropdown>
                </div>
                <div class="ui-g-6 ui-md-4 filter-container">
                    <div style="position:relative">
                        <button pButton type="button" icon="pi pi-search" class="ui-button-secondary"
                            [disabled]="true"></button>
                        <input type="search" pInputText placeholder="Search by name"
                            (input)="dv.filter($event.target.value)"> </div>
                </div>
                <div class="ui-g-6 ui-md-4" style="text-align:right">
                    <button pButton type="button" (click)="showAddDialog()" label="ADD NEW" icon='pi pi-plus'
                        class="ui-button-success"></button>
                </div>
            </div>
        </div>
    </p-header>
    <ng-template let-subject pTemplate="listItem">
        <div class="ui-g" style="vertical-align:middle;   text-align: center;border: 1px solid #ffffff;">
            <div class="ui-g-12 ui-md-3"><a class="pointer" (click)="selectSubject(subject)"><img
                        src="assets/images/subject/{{subject.image}}.jpg" style="width:200px;" /></a>
            </div>
            <div class="ui-g-12 ui-md-3 ui-g-nopad">
                <div class="ui-g" style="text-align: left;">

                    <div class="ui-g-12"><br /><i>Name:</i><br /><b>&nbsp;&nbsp;&nbsp;{{subject.name}}</b><br /></div>
                    <div class="ui-g-12"><i>Rated by:</i> <br /><b>&nbsp;&nbsp;&nbsp;{{subject.rate}}</b><br /></div>
                    <div class="ui-g-12"><i>Comments:</i> <br /><b>&nbsp;&nbsp;&nbsp;0</b><br /></div>
                    <div class="ui-g-12"><i>Bio:</i><br /><b>&nbsp;&nbsp;&nbsp;There is no bio</b><br /></div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-3 ui-g-nopad">
                <div class="ui-g-12">
                    <br />
                    <br />
                    <br />
                    <b>Difficulty</b>
                    <p-rating [ngModel]="subject.rate" disabled="true" iconOnClass="pi pi-thumbs-up"
                        iconOffClass="pi pi-circle-off" iconCancelClass="pi pi-times">;</p-rating>
                </div>
                <div class="ui-g-12">
                    <b>Usefulness</b>
                    <p-rating [ngModel]="subject.rate" disabled="true" iconOnClass="pi pi-thumbs-up"
                        iconOffClass="pi pi-circle-off" iconCancelClass="pi pi-times">;</p-rating>
                </div>
                <div class="ui-g-12">
                    <b>Curiosity</b>
                    <p-rating [ngModel]="subject.rate" disabled="true" iconOnClass="pi pi-thumbs-up"
                        iconOffClass="pi pi-circle-off" iconCancelClass="pi pi-times">;</p-rating>
                </div>
            </div>
            <div class="ui-g-12" style="text-align: right;">
                <i class="pi pi-bars"></i>
                <button pButton type="button" label="UPDATE" (click)="showModifyDialog(subject)" icon='pi pi-refresh'
                    class="ui-button-secondary">
                </button>
                <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
                <button pButton type="button" label="DELETE" (click)="confirmDelete(subject)" icon='pi pi-times'
                    class="ui-button-danger">
                </button>
            </div>
        </div>

    </ng-template>
</p-dataView>


<p-dialog header="Subject Details" [(visible)]="displayWholeSubj" [style]="{width: '1000px'}" [responsive]="true"
    showEffect="fade" [modal]="true" (onAfterHide)="onDialogHide()">
    <div class="ui-g" *ngIf="selectedSubject">
        <div class="ui-g-12 ui-md-8" style="text-align:center">
            <img src="assets/images/subject/{{selectedSubject.image}}.jpg" style="width: 400px;">
        </div>
        <div class="ui-g-12 ui-md-4 ui-g-nopad">
            <div class="ui-g" style="font-size: large;">
                <div class="ui-g-12"><br /><i>Name:</i><br /><b>&nbsp;&nbsp;&nbsp;{{selectedSubject.name}}</b><br />
                </div>
                <div class="ui-g-12"><i>Rated by:</i> <br /><b>&nbsp;&nbsp;&nbsp;{{selectedSubject.rate}}</b><br />
                </div>
                <div class="ui-g-12"><i>Comments:</i> <br /><b>&nbsp;&nbsp;&nbsp;0</b><br /></div>
                <div class="ui-g-12"><i>Bio:</i><br /><b>&nbsp;&nbsp;&nbsp;There is no bio</b><br /></div>
                <div class="ui-g-12">
                    <br />
                    <h3>Rate this subject</h3>
                    <h5>Difficulty: {{val1}}</h5>
                    <p-rating [(ngModel)]="val1" iconOnClass="pi pi-thumbs-up" iconOffClass="pi pi-circle-off"
                        iconCancelClass="pi pi-times">;</p-rating>
                </div>
                <div class="ui-g-12">
                    <h5>Usefulness: {{val2}}</h5>
                    <p-rating [(ngModel)]="val2" iconOnClass="pi pi-thumbs-up" iconOffClass="pi pi-circle-off"
                        iconCancelClass="pi pi-times">;</p-rating>
                </div>
                <div class="ui-g-12">
                    <h5>Curiosity: {{val3}}</h5>
                    <p-rating [(ngModel)]="val3" iconOnClass="pi pi-thumbs-up" iconOffClass="pi pi-circle-off"
                        iconCancelClass="pi pi-times">;</p-rating>
                </div>
                <div class="ui-g-12" style="text-align:right;">
                    <button pButton type="button" label="CONFIRM RATE" icon='pi pi-thumbs-up' class="ui-button-primary">
                    </button>
                </div>
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g">
                <div class="ui-g-12">
                    <h4>Leave a comment</h4>
                    <textarea style="width: 500px;" [rows]="5" [cols]="30" pInputTextarea
                        autoResize="autoResize"></textarea>
                </div>
                <div class="ui-g-12" style="text-align:center;"> <button pButton type="button" label="COMMENT" icon='pi pi-thumbs-up'
                    class="ui-button-success"></button></div>
            </div>
            <h1>Comments</h1>
        </div>
    </div>
</p-dialog>



<p-dialog header="ADD NEW PROF" [(visible)]="displayAdd">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-4">
            <div class="ui-inputgroup">
                <span class="ui-float-label">
                    <input id="float-input" type="text" pInputText [(ngModel)]="name">
                    <label for="float-input">Professor name</label>
                </span>
            </div>
        </div>
        <div class="ui-g-12 ">
            <div class="ui-inputgroup">
                <span class="ui-float-label">
                    <input id="float2-input" type="text" pInputText [(ngModel)]="rate">
                    <label for="float2-input">Professor rate</label>
                </span>
            </div>
        </div>

    </div>
    <p-footer>
        <button pButton type="button" label="SAVE" (click)="onAddClick(name,rate)" icon='pi pi-check'
            class="ui-button-secondary"></button>
        <button pButton type="button" label="CANCEL" (click)="displayAdd=false" icon='pi pi-times'
            class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>




<p-dialog header="MODIFY PROF" [(visible)]="displayModify">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-4">
            <div class="ui-inputgroup">
                <span class="ui-float-label">
                    <input id="float3-input" type="text" pInputText [(ngModel)]="name">
                    <label for="float3-input">Professor name</label>
                </span>
            </div>
        </div>
        <div class="ui-g-12 ">
            <div class="ui-inputgroup">
                <span class="ui-float-label">
                    <input id="float4-input" type="text" pInputText [(ngModel)]="rate">
                    <label for="float4-input">Professor rate</label>
                </span>
            </div>
        </div>
    </div>
    <p-footer>
        <button pButton type="button" label="SAVE" (click)="onModifyClick(name,rate)" icon='pi pi-check'
            class="ui-button-secondary"></button>
        <button pButton type="button" label="CANCEL" (click)="displayModify=false" icon='pi pi-times'
            class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>